<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Dashboard</title>
    <!-- Incluimos la librería del escáner QR -->
    <script src="https://unpkg.com/html5-qrcode@2.3.8/html5-qrcode.min.js"></script>
    <style> index.css
    </style>
</head>
<body>
<div class="dashboard-container">

    <div class="welcome">

    </div>
    <div class="info">

    </div>

    <a th:href="@{/logout}" class="logout-link">Cerrar sesión</a>
</div>

<script>

</script>
</body>
</html>